body {
	background: #fff;
    color: #222;
    font-family: arial, sans-serif;
    font-size: small;
}

li{
	list-style-type: none;
	display: inline-block;
	color: #666;
}

a {
	text-decoration: none;
	padding: 0 5px;
	vertical-align: middle;
	color: #666;
}

ul {
	padding: 20px;
}

.header {
	color: #888;
	margin: 0px 22px 8px 22px;
	overflow: hidden;
	text-align: center;
	float: right;
	font-size: 13px
}

.toplft {
	margin: 0;
	padding: 0;
}

.hdrimg {
	vertical-align: middle;
	max-height: 100%;
	max-width: 100%;
}

.search {
	position: fixed;
	top: 40%;
	bottom: auto;
	left: 35%;
	right: 35%;
	text-align: center;
}

input {
	background: #fff;
	border: solid 1px #d9d9d9;
	background: #fff;
    height: 38px;
    width: 443px;
}

button {
	size: 30px;
	margin: 11px 4px;
	padding: 0 16px;
	min-width: 54px;
	border-top:		8px solid #f2f2f2;
	border-left:		8px solid #f2f2f2;
	border-right:		8px solid #f2f2f2;
	border-bottom:		8px solid #f2f2f2;
	background-color:	#f2f2f2;

}

.footer {
	position: absolute;
	height: 60px;
	background: #f2f2f2;
	width: 100%;
	right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.lfoot {
	float: left;
}

.rfoot {
	float: right;
}